.display{
  margin: 15px;
  height: 35px;
  width: 80%;
  font-size: 25px;
  border: 2px solid rgb(113, 122, 119);
}

.h2{
  font-size: 18px;
  font-weight: 800;
  margin-top: 10px;
  color: rgb(22, 65, 131);

}

@media (min-width: 1200px) {
  
  .display{
    margin:25px 0;
    box-shadow: 25px slategrey;
  
  }
}